n8n/ipl-telegram-bot.json
{
  "name": "🏏 IPL AI Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ipl-bot",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1a2b3c4d-0001-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "ipl-bot-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nreturn [{ json: {\n  text: body.text || '',\n  chatId: body.chatId,\n  username: body.username || 'Cricket Fan'\n}}];"
      },
      "id": "1a2b3c4d-0002-0000-0000-000000000002",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "const { text, chatId, username } = $input.first().json;\n\nconst systemPrompt = `You are an IPL cricket query analyzer. Parse the user message and return ONLY a valid JSON object — no markdown, no explanation, just raw JSON.\n\nReturn this exact structure:\n{\"intent\":\"fantasy|predict|stats|headtohead|general\",\"team1\":\"Full team name or null\",\"team2\":\"Full team name or null\",\"player\":\"Player name or null\",\"playerType\":\"batsman|bowler|all\",\"collection\":\"matches or deliveries\",\"mongoFilter\":{},\"mongoLimit\":10}\n\nACTUAL TEAM NAMES IN DATABASE (use exact spelling):\n- Mumbai Indians\n- Chennai Super Kings\n- Royal Challengers Bangalore\n- Royal Challengers Bengaluru\n- Kolkata Knight Riders\n- Delhi Capitals\n- Delhi Daredevils\n- Sunrisers Hyderabad\n- Rajasthan Royals\n- Punjab Kings\n- Kings XI Punjab\n- Gujarat Titans\n- Lucknow Super Giants\n- Gujarat Lions\n- Deccan Chargers\n- Pune Warriors\n- Rising Pune Supergiant\n- Rising Pune Supergiants\n- Kochi Tuskers Kerala\n\nShorthand mappings:\nMI=Mumbai Indians, CSK=Chennai Super Kings, RCB=Royal Challengers Bangalore,\nKKR=Kolkata Knight Riders, DC=Delhi Capitals, SRH=Sunrisers Hyderabad,\nRR=Rajasthan Royals, PBKS=Punjab Kings, GT=Gujarat Titans, LSG=Lucknow Super Giants\n\nACTUAL DATABASE SCHEMA:\nmatches fields: team1, team2, winner, toss_winner, toss_decision, venue, city, season, date, player_of_match, winner_runs, winner_wickets, outcome, matchId\ndeliveries fields: batsman, bowler, batting_team, bowling_team, batsman_runs, dismissal_kind, player_dismissed, inning, over, ball, extras, isWide, isNoBall, matchId\n\nINTENT RULES:\n\"fantasy\" - user wants Dream11/fantasy team:\n  collection=matches, mongoLimit=10\n  mongoFilter={\"$or\":[{\"team1\":TEAM1},{\"team2\":TEAM1},{\"team1\":TEAM2},{\"team2\":TEAM2}]}\n\n\"predict\" - user wants match winner prediction:\n  collection=matches, mongoLimit=20\n  mongoFilter={\"$or\":[{\"team1\":TEAM1,\"team2\":TEAM2},{\"team1\":TEAM2,\"team2\":TEAM1}]}\n\n\"stats\" - user wants player statistics:\n  collection=deliveries, mongoLimit=300\n  if batting: mongoFilter={\"batsman\":PLAYER}\n  if bowling: mongoFilter={\"bowler\":PLAYER}\n\n\"headtohead\" - user wants H2H record:\n  collection=matches, mongoLimit=30\n  mongoFilter={\"$or\":[{\"team1\":TEAM1,\"team2\":TEAM2},{\"team1\":TEAM2,\"team2\":TEAM1}]}\n\n\"general\" - general IPL question:\n  collection=matches, mongoFilter={}, mongoLimit=5`;\n\nreturn [{ json: {\n  requestBody: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: text }\n    ],\n    temperature: 0.1,\n    max_tokens: 600,\n    response_format: { type: 'json_object' }\n  }),\n  chatId,\n  username,\n  originalText: text\n}}];"
      },
      "id": "1a2b3c4d-0003-0000-0000-000000000003",
      "name": "Build Intent Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_GROQ_API_KEY_HERE" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "1a2b3c4d-0004-0000-0000-000000000004",
      "name": "Groq Intent Detection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "const groqRes = $input.first().json;\nconst prev = $('Build Intent Request').first().json;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(groqRes.choices[0].message.content);\n} catch(e) {\n  parsed = { intent:'general', team1:null, team2:null, player:null, collection:'matches', mongoFilter:{}, mongoLimit:5 };\n}\n\nreturn [{ json: {\n  intent: parsed.intent || 'general',\n  team1: parsed.team1 || null,\n  team2: parsed.team2 || null,\n  player: parsed.player || null,\n  playerType: parsed.playerType || 'all',\n  collection: parsed.collection || 'matches',\n  mongoFilter: parsed.mongoFilter || {},\n  mongoLimit: Math.min(parsed.mongoLimit || 10, 100),\n  chatId: prev.chatId,\n  username: prev.username,\n  originalText: prev.originalText\n}}];"
      },
      "id": "1a2b3c4d-0005-0000-0000-000000000005",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "operation": "find",
        "collection": "={{ $json.collection }}",
        "query": "={{ JSON.stringify($json.mongoFilter) }}",
        "options": {
          "limit": "={{ $json.mongoLimit }}"
        }
      },
      "id": "1a2b3c4d-0006-0000-0000-000000000006",
      "name": "MongoDB Query",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [1300, 300],
      "credentials": {
        "mongoDb": {
          "id": "PKIby4QQEBoFJUHl",
          "name": "IPL MongoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst intentData = $('Parse Intent').first().json;\n\nconst clean = rows.map(d => { const x={...d}; delete x._id; return x; });\n\nlet contextSummary = '';\n\nif (intentData.intent === 'stats' && clean.length > 0) {\n  const totalRuns = clean.reduce((s,d) => s + (d.batsman_runs||0), 0);\n  const balls = clean.length;\n  const strikeRate = balls > 0 ? ((totalRuns/balls)*100).toFixed(2) : 0;\n  const fours = clean.filter(d => d.batsman_runs===4).length;\n  const sixes = clean.filter(d => d.batsman_runs===6).length;\n  const dismissals = clean.filter(d => d.player_dismissed && d.player_dismissed===intentData.player).length;\n  const avg = dismissals > 0 ? (totalRuns/dismissals).toFixed(2) : totalRuns;\n  const matchIds = [...new Set(clean.map(d => d.matchId))];\n  contextSummary = JSON.stringify({ player: intentData.player, innings: matchIds.length, totalRuns, balls, strikeRate, average: avg, fours, sixes, dismissals });\n} else if (intentData.intent === 'headtohead' || intentData.intent === 'predict') {\n  const wins = {};\n  clean.forEach(m => { if (m.winner) wins[m.winner] = (wins[m.winner]||0)+1; });\n  const venues = [...new Set(clean.map(m => m.venue))].slice(0,5);\n  contextSummary = JSON.stringify({ totalMatches: clean.length, wins, venues, recentMatches: clean.slice(0,10) });\n} else {\n  contextSummary = JSON.stringify(clean.slice(0,15));\n}\n\nconst systemPrompt = `You are CricketGPT — an expert IPL AI analyst. You have real IPL historical data.\n\nRules:\n- Be passionate, data-driven, and engaging\n- Use cricket emojis: 🏏🔥💥🎯\n- Max 350 words\n- Always cite specific numbers from the data provided\n\nFor FANTASY: Suggest 11 players with C and VC. Explain reasoning with stats.\nFor PREDICTION: Give win % for each team. Base on H2H record and key factors.\nFor STATS: Show runs, innings, avg, SR, 4s, 6s clearly formatted.\nFor H2H: Overall record, venue dominance, recent trend.\nFor GENERAL: Answer from data with trivia.\n\nIPL Data:\n${contextSummary}\n\nIntent: ${intentData.intent} | Team1: ${intentData.team1||'N/A'} | Team2: ${intentData.team2||'N/A'} | Player: ${intentData.player||'N/A'}`;\n\nreturn [{ json: {\n  requestBody: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: intentData.originalText }\n    ],\n    temperature: 0.75,\n    max_tokens: 1000\n  }),\n  chatId: intentData.chatId\n}}];"
      },
      "id": "1a2b3c4d-0007-0000-0000-000000000007",
      "name": "Build AI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_GROQ_API_KEY_HERE" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "1a2b3c4d-0008-0000-0000-000000000008",
      "name": "Groq Cricket AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "jsCode": "const groqRes = $input.first().json;\nconst prev = $('Build AI Request').first().json;\n\nlet text = '🏏 Sorry, could not generate a response. Try again!';\ntry {\n  text = groqRes.choices[0].message.content;\n  if (text.length > 4000) text = text.substring(0, 3997) + '...';\n} catch(e) {}\n\nreturn [{ json: { chatId: prev.chatId, text } }];"
      },
      "id": "1a2b3c4d-0009-0000-0000-000000000009",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{YOUR_TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $json.chatId }}" },
            { "name": "text", "value": "={{ $json.text }}" },
            { "name": "parse_mode", "value": "Markdown" }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0010-0000-0000-000000000010",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extract Message", "type": "main", "index": 0 }]]
    },
    "Extract Message": {
      "main": [[{ "node": "Build Intent Request", "type": "main", "index": 0 }]]
    },
    "Build Intent Request": {
      "main": [[{ "node": "Groq Intent Detection", "type": "main", "index": 0 }]]
    },
    "Groq Intent Detection": {
      "main": [[{ "node": "Parse Intent", "type": "main", "index": 0 }]]
    },
    "Parse Intent": {
      "main": [[{ "node": "MongoDB Query", "type": "main", "index": 0 }]]
    },
    "MongoDB Query": {
      "main": [[{ "node": "Build AI Request", "type": "main", "index": 0 }]]
    },
    "Build AI Request": {
      "main": [[{ "node": "Groq Cricket AI", "type": "main", "index": 0 }]]
    },
    "Groq Cricket AI": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Send Telegram Reply", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "ipl-bot-v3-webhook",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "ipl-telegram-bot-workflow",
  "tags": []
}
